name: Merge to master

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always
  CMAKE_COLOR_DIAGNOSTICS: ON
  TERM: xterm-256color

jobs:
  dictyped:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install --assume-yes --no-install-recommends --no-install-suggests protobuf-compiler
      - name: Rust check
        run: ./infra/ci/check-rust.sh
      - name: Run cargo build
        run: cargo build --verbose
      - name: Run cargo test
        run: cargo test --verbose

  dictype-fcitx:
    runs-on: ubuntu-latest
    container: archlinux:base

    steps:
      - uses: actions/checkout@v6
      - name: Install build dependencies
        # ubuntu 24.04 has too old dependencies
        # run: sudo apt-get update && sudo apt-get install --assume-yes --no-install-recommends --no-install-suggests protobuf-compiler cmake clang ninja-build libgrpc-dev libgrpc++-dev protobuf-compiler-grpc libprotobuf-dev libfcitx5core-dev libgtest-dev
        run: pacman -Syu --noconfirm clang cmake ninja grpc fcitx5 gtest
      - name: C++ check
        run: ./infra/ci/check-cpp.sh
      - name: Run ctest
        run: ctest --test-dir cmake-build-ci
