name: Merge to master

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always
  CMAKE_COLOR_DIAGNOSTICS: ON
  TERM: xterm-256color

jobs:
  dictyped:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: Install build dependencies
        run: sudo apt-get update && sudo apt-get install --assume-yes --no-install-recommends --no-install-suggests protobuf-compiler
      - name: Rust check
        run: ./infra/ci/check-rust.sh
      - name: Run cargo build
        run: cargo build --verbose
      - name: Run cargo test
        run: cargo test --verbose

  dictype-fcitx:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - container: archlinux:base
            install: |
              pacman -Syu --noconfirm --needed \
                clang cmake ninja grpc fcitx5 gtest
          - container: debian:13-slim
            install: |
              apt-get update
              apt-get install --assume-yes --no-install-recommends --no-install-suggests \
                build-essential clang cmake ninja-build clang-tidy clang-format \
                libgrpc-dev libgrpc++-dev \
                protobuf-compiler protobuf-compiler-grpc libprotobuf-dev \
                libfcitx5core-dev \
                libgtest-dev
          - container: ubuntu:25.10-slim
            install: |
              apt-get update
              apt-get install --assume-yes --no-install-recommends --no-install-suggests \
                build-essential clang cmake ninja-build clang-tidy clang-format \
                libgrpc-dev libgrpc++-dev \
                protobuf-compiler protobuf-compiler-grpc libprotobuf-dev \
                libfcitx5core-dev \
                libgtest-dev
          - container: fedora:43
            install: |
              dnf install -y \
                @development-tools \
                clang clang-tools-extra cmake ninja-build \
                grpc-devel grpc-plugins \
                protobuf-compiler protobuf-devel \
                fcitx5-devel \
                gtest-devel

    container: ${{ matrix.container }}

    steps:
      - uses: actions/checkout@v6
      - name: Install build dependencies
        shell: bash
        run: |
          set -euxo pipefail
          ${{ matrix.install }}
      - name: C++ check
        run: ./infra/ci/check-cpp.sh
      - name: Run ctest
        run: ctest --test-dir cmake-build-ci
